h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  font-family: $font-primary;
  font-size: 14px;
  color: $color-main;
  background-color: $bg-color-main;
}

.section {
  padding: 94px 0;

  &__title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.08;
    letter-spacing: 0.03em;
    text-align: center;
    color: $color-headers;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.menu,
.contacts,
.feature__list,
.boxes__list,
.team__list,
.filters,
.cards-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}
.button {
  border-width: 0;

  font-family: $font-primary;
  color: $color-headers;
  background-color: $bg-color-secondary;
  cursor: pointer;

  transition: background-color $transition-main-delay $transition-main-function,
    color $transition-main-delay $transition-main-function,
    box-shadow $transition-main-delay $transition-main-function;

  &.accent,
  &:hover,
  &:focus {
    color: $bg-color-main;
    background-color: $bg-color-accent;
  }
}
