$font-primary: Roboto, sans-serif;
$font-secondary: Raleway, sans-serif;

$bg-color-main: #fff;
$bg-color-secondary: #f5f4fa;
$bg-color-footer: #2f303a;
$bg-color-accent: #2196f3;
$bg-button-hover: #188ce8;
$color-headers: #212121;
$color-main: #757575;
$color-icon: #afb1b8;
$border-color-nav: #ececec;
$border-color-cards: #eee;

$transition-main-delay: 250ms;
$transition-main-function: cubic-bezier(0.4, 0, 0.2, 1);
